.QA-section{
    text-align: center;
    overflow: auto;
    padding-top: 100px;
}

.QA-title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    border-bottom: solid 3px #c44242;
    background:liner-gradient(white,mintcream);
}

.QA-lead{
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
}

.QA-message{
    margin-top: 80px;
}

.QA-answer{
    margin-top: 80px;
}

.QA-container{
    background-color: rgb(210, 236, 223);
}

.memo{
    border-top: solid 1px #c44242;
}
.quiz-form{
    text-align: center;
    padding: 30px;
}
.quiz-section{
    background-color:azure;
}
.frame{
    text-align: end;
    padding: 20px;
}
.problem{
    text-align: justify;
    color: black;
}
