.quiz-form{
    text-align: center;
    padding: 30px;
}
.frame{
    text-align: end;
    padding: 20px;
}
.problem{
    text-align: justify;
    color: black;
    border: 2px solid pink;
    padding: 2em;
    border-radius: 15px;
}
.title{
    text-align: center;
    font-size: 50px;
    padding: 20px;
    font-weight: bold;
    background: linear-gradient(white,azure);
}
.lead{
    text-align: center;
}
.quiz{
    background-color: azure;
}
.far-fa-thumbs-up{
    margin: 10px;
}

